.base-node__textfield__hidden > .unity-text-field__input
{
	background-color: transparent;
	border-color: var(--colors-window-dark-grey-2);
}

.base-node__textfield__hidden > .unity-text-field__input:focus
{
	background-color: var(--colors-window-dark-grey-1);
	border-color: var(--colors-window-dark-grey-2);
}
